// Colours
$body-background: #181200;
$main-background: #f8f7f4;

$highlighter-background: #181200;
$highlighter-text: #f8f7f4;

$text-color: #181200;
$text-highlight: #0064c0;

$skill-background: #181200;
$skill-highlight: #0064c0;

$work-timeline-border-colour: #0064c0;
$work-timeline-marker-colour: #0064c0;

// Spacing
$base-spacing: 8px;

// Breakpoints
$mobile-portrait: 320px;
$mobile-landscape: 600px;
$tablet-portrait: 768px;
$tablet-landscape: 1024px;
$desktop: 1280px;
