.job {
  margin-bottom: $base-spacing * 9;

  @media screen and (min-width: $mobile-landscape) {
    display: flex;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__company {
    margin: 0 $base-spacing * 2 $base-spacing * 2 0;

    &__image {
      width: 70px;
      margin-top: -50%;

      @media screen and (min-width: $mobile-landscape) {
        width: 80px;
      }

      @media print {
        display: none;
      }
    }

    &__name,
    &__duration {
      font-size: .70rem;
      font-weight: 700;
      text-transform: uppercase;

      @media print {
        font-size: 1.8rem;
        margin-right: $base-spacing * 2;
        margin-bottom: $base-spacing * 2;
        display: inline-block;
      }
    }
  }

  &__roles {
    border-left: 2px solid $work-timeline-border-colour;
    padding-left: $base-spacing;

    @media screen and (min-width: $mobile-landscape) {
      padding-left: $base-spacing * 2;
    }

    &__role {
      margin-bottom: $base-spacing * 4;
      position: relative;

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        background-color: $work-timeline-marker-colour;
        box-shadow: inset 1000px 1000px 0 0 $work-timeline-marker-colour;
        content: '';
        display: block;
        height: $base-spacing;
        left: -($base-spacing + $base-spacing / 2 + 1px);
        position: absolute;
        top: $base-spacing;
        width: $base-spacing;
        border-radius: 50%;

        @media screen and (min-width: $mobile-landscape) {
          left: -($base-spacing * 2 + $base-spacing / 2 + .5px);
        }

        @media print {
          top: $base-spacing - 2px;
        }
      }

      &:first-of-type::before {
        top: 0;
      }

      &__name {
        font-size: 1.17rem;
        font-weight: 700;
        position: relative;
        text-transform: uppercase;
        top: -.5em;
      }

      &__duration {
        font-size: .70rem;
        font-weight: 700;
        margin-bottom: $base-spacing * 2;
        text-transform: uppercase;
      }

      &__description {
        margin-bottom: $base-spacing * 2;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &__usedTechnologies {
        margin-bottom: $base-spacing * 2;
        margin-left: $base-spacing * 2;
        list-style: circle;

        &:li {
          margin-bottom: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      &__workedOn {
        &:last-child {
          margin-bottom: 0;
        }
      }

      &__graphicTools {
        margin-bottom: $base-spacing * 2;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &__tools {
        margin-bottom: $base-spacing * 2;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &__responsibilities-and-projects {
        &__description {
          margin-bottom: $base-spacing * 2;
        }

        &__list {
          list-style: disc;
          padding-left: $base-spacing * 2;

          &__item {
            margin-bottom: $base-spacing;

            &::after {
              content: ';';
            }
          }
        }
      }
    }
  }
}